In [1]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime

In [3]:
data = pd.read_csv('/Users/apple/Desktop/Data Science/Springboard Career Track/Section 1/Git and GitHub/Springboard/Machine-Learning/ex1data1.txt', names = ['Population', 'Profit'])
data.head()

   Population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [4]:
data.shape

(97, 2)

In [5]:
data.describe()

       Population     Profit
count   97.000000  97.000000
mean     8.159800   5.839135
std      3.869884   5.510262
min      5.026900  -2.680700
25%      5.707700   1.986900
50%      6.589400   4.562300
75%      8.578100   7.046700
max     22.203000  24.147000

In [ ]:
data.plot(x='', y='Scores', style='.')
plt.title('Hours studied vs Scores')
plt.xlabel('Hours studied')
plt.ylabel('Percentage Score')
plt.show()

In [ ]:
X = data.loc[:, :'Hours'].values
y = data.loc[:, 'Scores'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
x_prueba = np.array([[4.5],[3.3],[1.1]])

In [ ]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

In [ ]:
print(regressor.intercept_)

In [ ]:
print(regressor.coef_)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted':y_pred})
df

In [ ]:
r2 = r2_score(y_test, y_pred)
r2

In [ ]:
mae = mean_absolute_error(y_test, y_pred)
mae

In [ ]:
mse = mean_squared_error(y_test, y_pred)
mse

In [ ]:
np.sqrt(mse)

In [ ]:
np.mean(y)