x16.txt
#
#  Reference:
#
#    Helmut Spaeth,
#    Mathematical Algorithms for Linear Regression,
#    Academic Press, 1991,
#    ISBN 0-12-656460-4.
#
#    S Weisberg,
#    Applied Linear Regression,
#    New York, 1980, pages 32-33.
#
#  Discussion:
#
#    For one year, the consumption of petrol was measured in 48 states.
#    The relevant variables are the petrol tax, the per capita
#    income, the number of miles of paved highway, and
#    the proportion of the population with driver's licenses.
#
#    There are 48 rows of data.  The data include:
#
#      I,  the index;
#      A0, 1;
#      A1, the petrol tax;
#      A2, the per capita income;
#      A3, the number of miles of paved highway;
#      A4, the proportion of drivers;
#      B,  the consumption of petrol.
#
#    We seek a model of the form
#
#      B = A0 * X0 + A1 * X1 + A2 * X2 + A3 * X3 + A4 * X4.
#

In [1]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime

In [2]:
data = pd.read_csv('/Users/apple/Desktop/Data Science/Springboard Career Track/Section 1/Git and GitHub/Springboard/Machine-Learning/Stackabuse regression examples/petrol_consumption.csv')
data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
data.shape

(48, 5)

In [4]:
data.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [6]:
X = data[['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence(%)']]
y = data['Petrol_Consumption']

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 47)

In [48]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [49]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df

                              Coefficient
Petrol_tax                     -38.871880
Average_income                  -0.071890
Paved_Highways                  -0.002707
Population_Driver_licence(%)  1425.077430

In [50]:
y_pred = regressor.predict(X_test)

In [51]:
df = pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

    Actual   Predicted
13     508  571.029097
29     534  467.970583
18     865  791.325790
12     525  567.556019
31     554  588.220724
38     648  730.949772
27     631  619.282935
35     644  732.783164
22     464  406.409672
24     460  505.609099
25     566  531.762874
19     640  692.741008
37     704  652.271017
34     487  506.666162
40     587  674.316561

In [52]:
r2 = r2_score(y_test, y_pred)
r2

0.6736534178099618

In [53]:
mae = mean_absolute_error(y_test, y_pred)
mae

54.12324889811982

In [54]:
mse = mean_squared_error(y_test, y_pred)
mse

3445.358352949821

In [55]:
np.sqrt(mse)

58.697174999737605

In [56]:
np.mean(y)

576.7708333333334